.book-preview {
  width: 100%;
  background-color: var(--clr3bg);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  position: relative;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 0.9rem;
}

.discount-label {
  display: inline-block;
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.discounted-price {
  font-size: 1.3rem;
  font-weight: bold;

  margin-top: 5px;
}

.book-thumbnail {
  width: 8vw;
  height: 18vh;

  border-radius: 8px;
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}

.book-price {
  font-size: 1rem;

  font-weight: bold;
  margin-top: 5px;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#f70505 0%, #8f0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8f0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8f0808;
}
.ribbon span::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8f0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8f0808;
}
